.card-movie .img-wrap {
    border-radius: 0px 0px 0 0;
    overflow: hidden;
    position: relative;
    height: 278px;
    width: 185px;
    text-align: center;
}
.card-movie .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-movie .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { 
    margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.label-genre { 
    margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    font-size: small;
}

.card-movie .price-old {
    color: #999;
}