<div class="container">
   <h4 class="text-center">Upcoming Movies</h4>
    <hr>

    <div class="row" 
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()" 
         style="overflow: scroll;">
        <div class="col-md-3" *ngFor="let movie of movies">
            <figure class="card card-movie">
                <div class="img-wrap"><img src="{{imageUrl}}w185{{movie.posterPath}}"></div>
                <figcaption class="info-wrap">
                        <h5 class="title">{{movie.originalTitle}}</h5>
                        <p class="desc">{{movie.releaseDate}}</p>
                        <div class="rating-wrap">
                            <div class="label-genre" *ngFor="let genre of movie.genres">{{genre.name}}</div>
                        </div>
                </figcaption>
            </figure>
        </div> 

    </div>

</div> 
